<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialProducts.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialProductsAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialProductsCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EssentialProductsTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialProductsiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85578B0C2CD284E900DCD2BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85578B142CD284EA00DCD2BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8596370E2CDF99380053991C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A228A62D2EF9900046EFC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85D213542D52548F0066F06B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85D2135B2D52548F0066F06B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
